<%- include("partials/header")%>

<div class="container pt-5">
    <h1 class="text-center">Login Page</h1>
    <div class="row justify-content-center align-items-center">
        <div class="col-4 pt-3">
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="username">
                </div>
                <div class="form-group">
                    <label for="username">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="password">
                </div>
                <button type="submit" class="btn btn-outline-success">Login</button>
            </form>  
        </div>
    </div>
</div>

<%- include("partials/footer")%>